.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .time-control {
    width: 50%;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-tablet) {
      width: 90%;
    }

    input {
      width: 100%;
      padding: 1rem 0;
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;
    }

    p {
      padding: 1rem;
      min-width: 63px;
    }
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
  min-width: 120px;

  @media (max-width: $breakpoint-tablet) {
    width: 60%;
  }

  svg {
    cursor: pointer;
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

.track {
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  background: $primary-color;
  overflow-x: hidden;
  margin: 1rem 0; // test
}

.animate-track {
  background: darken($background-color, 20%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}