
$background-color: #fff;
$secondary-background-color: #ffcecb;
$primary-color: #b12a5b;
$secondary-color: #ff8177;
$primary-gradient: linear-gradient(to bottom, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
$text-color: rgb(53, 53, 53);
$breakpoint-tablet: 700px;